#page-container {
  background: #e3e6e6;
  height: 100%;
  width: 100%;
  min-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temporary-content {
  background-color: linen;
  margin-top: 100px;
}
