header {
  width: 100%;
  min-width: 1000px;

  color: rgb(255, 255, 255);
  background-color: rgb(19, 25, 33);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 14px;
  height: 60px;
  overflow: visible;
}

#navbar {
  width: 100%;
  height: 100%;

  min-width: 1000px;
}

#nav-belt {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
}

.navLeft {
  position: static;
  min-width: 260px;

  display: flex;
  flex-direction: row;

  align-items: center;
}

.logo {
  height: 2em;
  padding: 0.5em;
  box-sizing: content-box;
  border: solid 1px;
  border-radius: 4px;
  border-color: transparent;
}

.logo:hover {
  border-color: rgb(255, 255, 255);
  cursor: pointer;
}

.navFill {
  box-sizing: border-box;
  flex-grow: 1;
  height: 100%;
  position: static;
  align-items: center;
  display: flex;
}

.navRight {
  min-width: 300px;
  height: 40px;
  padding-left: 12px;

  display: flex;
  justify-items: center;
}
