@font-face {
  font-family: "AmazonEmber";
  src: url("../src/fonts/Amazon-Ember-Medium.ttf") format("truetype"),
    url("../src/fonts/Amazon-Ember-MediumItalic.ttf") format("truetype"),
    url("../src/fonts/AmazonEmber_Bd.ttf") format("truetype"),
    url("../src/fonts/AmazonEmber_BdIt.ttf") format("truetype"),
    url("../src/fonts/AmazonEmber_He.ttf") format("truetype"),
    url("../src/fonts/AmazonEmber_HeIt.ttf") format("truetype"),
    url("../src/fonts/AmazonEmber_Lt.ttf") format("truetype"),
    url("../src/fonts/AmazonEmber_LtIt.ttf") format("truetype"),
    url("../src/fonts/AmazonEmber_Rg.ttf") format("truetype"),
    url("../src/fonts/AmazonEmber_RgIt.ttf") format("truetype"),
    url("../src/fonts/AmazonEmber_Th.ttf") format("truetype"),
    url("../src/fonts/AmazonEmber_ThIt.ttf") format("truetype");
}

:root {
  font-family: "AmazonEmber", Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: top;
  width: 100vw;
  height: 100vh;
}
